@tailwind base;
@tailwind components;
@tailwind utilities;

.category__body__item{
    background-color: #4c9e40;
    border: 1px solid #000;
    color: aliceblue;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}
